.page-header {
  text-align: center;
}
.form-control {
  margin-bottom: 1.5%;
}
.special_btn {
  float: right;
}

@media screen and (min-width: 900px) {
  .container-fluid {
    width: 46%;
    max-width: 640px;
  }
}
